@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin poetry CSS */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:hymn"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:hymn"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poetry CSS */

/* Begin table CSS */
table:not([epub|type~="z3998:drama"]){
	margin: 1em auto 1em auto;
}

table:not([epub|type~="z3998:drama"]) td:last-child:not([colspan]){
	text-align: right;
	font-variant-numeric: tabular-nums;
}

table:not([epub|type~="z3998:drama"]) td:not([colspan]){
	padding-left: 1em;
}

table:not([epub|type~="z3998:drama"]) tr:last-of-type td:last-of-type{
	border-top: 1px solid;
}
/* End table CSS */

/* Begin drama CSS */
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	vertical-align: top;
	padding: .5em;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}
/* End drama CSS */

p[epub|type="z3998:valediction"]{
	text-align: right;
}

#chapter-2-2 header p{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

#chapter-3-1 ul{
	list-style-type: none;
}
